body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:beige;
    box-sizing: border-box;
    margin: 16px 16px;
}

#title {
    color: black;
    background-color: orange;
    text-align: center;
    margin: 16px 2px;
    padding: 4px;
    border: solid 4px;
    border-color: brown;
}

img {
    width: 400px;
    height: auto;
    display: block; 
    margin: auto;
    border: solid 2px;
    border-color: brown;
}

h3 {
    background-color: orange;
    text-align: center;
    border: solid 2px;
    border-color: brown;
}

a:link {
    text-decoration: none;
}

button {
    background-color: orange;
    color: black;
    border: solid 2px brown;
    display: block;
    margin: auto;
    height: 50px;
    width: 150px;
}

button:hover {
    background-color: goldenrod;
    color: whitesmoke;
}